body {
    height: 100%;
    width: 100%;
}

#des {
    position: absolute;
    z-index: 0;
    transform: translate(180%, 950%);
}

#one {
    height: 100px;
    width: 200px;
    background-color: #FF6E6E;
    position: fixed;
    top: 0px;
    left: 0px;
    
}

#pone {
    padding-left: 45px;
    padding-top: 25px;
    font-family: sans-serif;
    color: grey;
}

#two {
    height: 100px;
    width: 200px;
    background-color: #FF7D7D;
    position: fixed;
    top: 100px;
    left: 0px;
    
}

#three {
    height: 100px;
    width: 200px;
    background-color: #FF9292;
    position: fixed;
    top: 200px;
    left: 0px;
    
}

#four {
    height: 100px;
    width: 200px;
    background-color: #FFA4A4;
    position: fixed;
    top: 300px;
    left: 0px;
    
}

#five {
    height: 100px;
    width: 200px;
    background-color: #FFB6B6;
    position: fixed;
    top: 400px;
    left: 0px;
    
}
#six {
    height: 100px;
    width: 200px;
    background-color: #FFC5C5;
    position: fixed;
    top: 500px;
    left: 0px;
    
}

#seven {
    height: 100px;
    width: 200px;
    background-color: #FCD0D0;
    position: fixed;
    top: 600px;
    left: 0px;
    
}

#eight {
    height: 100px;
    width: 200px;
    background-color: #FCDEDE;
    position: fixed;
    top: 700px;
    left: 0px;
    
}

#nine {
    height: 100px;
    width: 200px;
    background-color: #FCEBEB;
    position: fixed;
    top: 800px;
    left: 0px;
    
}

#ten {
    height: 100px;
    width: 200px;
    background-color: #FCF5F5;
    position: fixed;
    top: 900px;
    left: 0px;
    
}

#eleven {
    height: 100px;
    width: 200px;
    background-color: #FFFFFF;
    position: fixed;
    top: 1000px;
    left: 0px;
    
}